.loader__parent {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader__parent div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.loader__spinner {
    animation: spin 1s ease-in-out infinite;
    animation-delay: 0.2s;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
