.content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-and-sort {
    width: calc(100% - 32px);
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
}
