.carImage {
    height: 230px;
    width: 350px;
    object-fit: cover;
    object-position: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 100%;
    border-radius: 15px !important;
    cursor: pointer;
    transition: all 0.15s ease-in-out !important;
}

.card:hover {
    background-color: var(--surface2);
}

.card__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card__favorite-button-wrapper {
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.price {
    font-size: 1rem;
    font-weight: bold !important;
    color: #28a745;
}
