.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
}

.pagination:empty {
    display: none;
}

.pagination__button {
    padding: 8px 12px !important;
    font-weight: 500 !important;
    min-width: 0 !important;
}

.pagination__button--active {
    background: var(--mui-palette-primary-main) !important;
    color: var(--on-primary) !important;
}

.pagination__control-button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}
